
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{block name="title"}管理后台{/block}</title>

    <!-- Bootstrap core CSS -->
    {css href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" /}
    {css href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" /}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {css href="/static/css/ie10-viewport-bug-workaround.css" /}

    <!-- Custom styles for this template -->
    {css href="/static/css/manage.css" /}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        {block name="style"}{/block}
    </style>
</head>
<body>
{block name="container"}
    {include file="navbar" /}
    <div class="container-fluid">
        <div class="row">
            {include file="sidebar" /}
            <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
                {block name="content"}{/block}
            </div>
        </div>
    </div>
{/block}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
{js href="/static/js/jquery.min.js" /}
<!-- 包括所有已编译的插件 -->
{js href="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" /}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{js href="/static/js/ie10-viewport-bug-workaround.js" /}
{block name="javascripts"}{/block}
</body>
</html>
