<div class="col-sm-2 col-md-1 sidebar">
    <!--<ul class="nav nav-sidebar">
        <li {eq name="$Request.url" value="/manage"}class="active"{/eq}><a href="/manage"><i class="glyphicon glyphicon-home"></i> 首页<span class="sr-only">(current)</span></a></li>
    </ul>-->
    <ul class="nav nav-sidebar">
        <li {eq name="$Request.url" value="/manage/talent"}class="active"{/eq}><a href="/manage/talent"><i class="glyphicon glyphicon-credit-card"></i> 用户信息</a></li>
        <li {eq name="$Request.url" value="/manage/order"}class="active"{/eq}><a href="/manage/order"><i class="glyphicon glyphicon-list-alt"></i> 订单管理</a></li>
        <li {eq name="$Request.url" value="/manage/inc-order"}class="active"{/eq}><a href="/manage/inc-order"><i class="glyphicon glyphicon-usd"></i> 收益提现</a></li>
        <!--<li {eq name="$Request.url" value="/manage/appeal"}class="active"{/eq}><a href="/manage/appeal"><i class="glyphicon glyphicon-comment"></i> 订单申诉</a></li>-->
        <!--<li><a href=""><i class="glyphicon glyphicon-list"></i> 对账单</a></li>-->
    </ul>
</div>