{extend name="base" /}
{block name="title"}订单详情 | 管理后台{/block}
{block name="style"}
.placeholder img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
}
.border {border: solid 1px gray}
{/block}
{block name="content"}
<div class="row">
    <div class="col-sm-12">
        <div class="row placeholders">
            <div class="placeholder" style="text-align: center;">
                {notempty name="user.avatar"}
                <img class="img-responsive" style="border-radius: 50%; width: 200px;" src="{$user.avatar}" alt="" />
                {/notempty}
                <img class="img-responsive" style="border-radius: 50%; width: 200px;" src="{$user.icon}" />
                <h4>{$user.nick}</h4>
                <p style="line-height: normal;" class="text-muted">{$user.uid}</p>
            </div>
        </div>
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--封面-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div class="row placeholders mb-0">-->
                    <!--<div class="placeholder col-sm-3" style="text-align: center;">-->
                        <!--<img class="img-responsive border" src="{$user.cover_0}"  alt="" />-->
                        <!--<h4>封面-1</h4>-->
                    <!--</div>-->
                    <!--<div class="placeholder col-sm-3" style="text-align: center;">-->
                        <!--<img class="img-responsive border" src="{$user.cover_1}"  alt="" />-->
                        <!--<h4>封面-2</h4>-->
                    <!--</div>-->
                    <!--<div class="placeholder col-sm-3" style="text-align: center;">-->
                        <!--<img class="img-responsive border" src="{$user.cover_2}"  alt="" />-->
                        <!--<h4>封面-3</h4>-->
                    <!--</div>-->
                    <!--<div class="placeholder col-sm-3" style="text-align: center;">-->
                        <!--<img class="img-responsive border" src="{$user.cover_3}"  alt="" />-->
                        <!--<h4>封面-4</h4>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                基本资料
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>用户名</dt>
                        <dd>{$user.username}</dd>
                        <dt>昵称</dt>
                        <dd>{$user.nick}</dd>
                        <dt>登录方式</dt>
                        <dd>{switch name="$user.type"}
                            {case value="0"}账号密码{/case}
                            {case value="1"}微信登录{/case}
                            {case value="2"}QQ登录{/case}
                            {/switch}</dd>
                        <dt>VIP</dt>
                        <dd>{$user.vip_card?'是':'否'}</dd>
                        <dt>性别</dt>
                        <dd>{$user.sex==1?'男':'女'}</dd>
                        <dt>年龄</dt>
                        <dd>{$user.age}</dd>
                        <dt>职业</dt>
                        <dd>{$user.profession}</dd>
                        <dt>所在地</dt>
                        <dd>{$user.province} {$user.city}</dd>
                        <dt>情感状态</dt>
                        <dd>{switch name="$user.emotion_status"}
                            {case value="0"}单身{/case}
                            {case value="1"}有主{/case}
                            {case value="2"}恋爱中{/case}
                            {/switch}</dd>
                        <dt>最后登录</dt>
                        <dd>{$user.last_login_timer}</dd>
                        <dt>最后登出</dt>
                        <dd>{$user.last_logout_timer}</dd>
                        <dt>注册时间</dt>
                        <dd>{$user.register}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>游戏昵称</dt>
                        <dd>{$user.game_nick}</dd>
                        <dt>游戏段位</dt>
                        <dd>{$user.game_max_level}</dd>
                        <dt>游戏区服</dt>
                        <dd>{$user.game_area}</dd>
                        <dt>手机系统</dt>
                        <dd>{$user.game_area}</dd>
                        <dt>擅长位置</dt>
                        <dd>{$user.game_position}</dd>
                        <dt>游戏成就</dt>
                        <dd>{$user.game_honour}</dd>
                        <dt>账户余额</dt>
                        <dd>{$user.balance}</dd>
                        <dt>收益余额</dt>
                        <dd>{$user.income}</dd>
                    </dl>
                </div>
                <div class="placeholders col-sm-4">
                    <div class="placeholder" style="text-align: center;">
                        <img class="img-responsive" src="{$user.game_honour_image}"  alt="" />
                        <h4>最高战绩截图</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                认证大神
            </div>
            <div class="panel-body">
                {empty name="user.talent"}
                未提交申请
                {else}
                <div class="row placeholders mb-0">
                    <div class="placeholder col-sm-4" style="text-align: center;">
                        <img class="img-responsive" src="{$user.talent.honour_image}"  alt="" />
                        <h4>最高段位截图</h4>
                    </div>
                    <div class="placeholder col-sm-4" style="text-align: center;">
                        <img class="img-responsive" src="{$user.talent.idcard_image}"  alt="" />
                        <h4>认证证书</h4>
                    </div>
                    <div class="placeholder col-sm-4" style="text-align: center;">
                        <img class="img-responsive" src="{$user.talent.wx_qrcode}"  alt="" />
                        <h4>微信二维码</h4>
                    </div>
                </div>
                {/empty}
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>大神等级</dt>
                        <dd>{$user.talent.level}</dd>
                        <dt>大神段位</dt>
                        <dd>{$user.talent.max_level}</dd>
                        <dt>认证性别</dt>
                        <dd>{$user.talent.cert_sex==2?'女':'男'}</dd>
                        <dt>游戏成就</dt>
                        <dd>{$user.talent.honour}</dd>
                        <dt>擅长英雄</dt>
                        <dd>{$user.talent.hero}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>状态</dt>
                        <dd>{switch name="$user.talent.auth_status" }
                            {case value="1"}<span class="text-warning">未审核</span>{/case}
                            {case value="2"}<span class="text-success">已通过</span>{/case}
                            {case value="3"}<span class="text-danger">驳回:{$talent.reject_reason}</span>{/case}
                            {/switch}</dd>
                        <dt>服务区服</dt>
                        <dd>{$user.talent.area}</dd>
                        <dt>手机系统</dt>
                        <dd>{$user.talent.system}</dd>
                        <dt>微信账号</dt>
                        <dd>{$user.talent.wx_account}</dd>
                        <dt>QQ账号</dt>
                        <dd>{$user.talent.qq_account}</dd>
                        <dt>手机号</dt>
                        <dd>{$user.talent.tel}</dd>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>胜利/游戏场次</dt>
                        <dd>{$user.talent.games_win}/{$user.talent.games_total}</dd>
                        <dt>历史订单数</dt>
                        <dd>{$user.talent.order_num}</dd>
                        <dt>评分</dt>
                        <dd>{php}echo round($user->talent->getAvgStar() * 2, 1){/php}</dd>
                        <dt>标签</dt>
                        <dd>
                            {notempty name="$user.talent.tag"}
                            {volist name="user.talent.tag" id="tag"}
                            <label class="label label-primary">{$tag.tag_name} {$tag.tag_num}</label>
                            {/volist}
                            {/notempty}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    {notempty name="user.qrcode"}
    <div class="col-sm-4">
        <h3 class="page-header"></h3>
        <div class="row placeholders">
            <div class="placeholder" style="text-align: center;">
                <img class="img-responsive" src="{$user.qrcode}"  alt="" />
                <h4>微信二维码</h4>
            </div>
        </div>
    </div>
    {/notempty}
</div>

<!-- 模态框（大图） -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <img src="" style="max-width: 1200px;" />
    </div><!-- /.modal -->
</div>
{/block}
{block name="javascripts"}
<script type="text/javascript">
    $(function() {
        /* 看大图 */
        $('.placeholder img').click(function() {
            var src = $(this).attr('src');
            if(src) {
                $('#imgModal img').attr('src', src);
                $('#imgModal').modal('show');
            }
        });
    });
</script>
{/block}